<header class="header">
  <h1 class="header__title">
    {{ titulo }}
  </h1>

  <ul class="nav-bar-list" *ngIf="estaLogado()">
    <li>
      <a routerLink="home" routerLinkActive="ativado">Home</a>
    </li>
    <li>
      <a routerLink="extrato" routerLinkActive="ativado">Extrato</a>
    </li>
    <li>
      <a routerLink="transferencias" routerLinkActive="ativado">Transferencias</a>
    </li>
    <li>
      <button class="btn btn-dark ml-5" (click)="logout()">Sair</button>
    </li>
  </ul>
</header>
