<app-header [titulo]="title"></app-header>

<app-exercicio-data-binding
  [informacao]="informacaoParaDataBinding"
  (botaoClicado)="botaoClicado()"
></app-exercicio-data-binding>

<!-- <app-home></app-home> -->

<app-footer></app-footer>


<!-- <main>
  <p>Testando interpolação:</p>
  {{ title }}
  {{ outraVariavel }}
  {{ minhaPrimeiraFuncao() }}
  {{ somar(10, 20) }}
  <h2>
    {{ minhaPrimeiraFuncao() + 'teste' + somar(5, 5) + 'acabou' }}
  </h2>
  <h2>
    {{ outraVariavel > 1000 ? 'É MAIOR QUE MIL' : 'É MENOR QUE MIL' }}
  </h2>
  {{ funcaoPequenininha() }}
</main> -->